.about__wrap {
    width: 300px;
    padding: 0 10px;
    margin: 0 auto;
}

.about__subtitle {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    text-align: center;
    
    &--limit {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.about__text {
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    text-align: center;
    
    &--limit {
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 0;
    }
}

.about__slogan {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding-top: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    position: relative;
    background-color: @bg-yellow;
    
    &::after {
        content: "";
        position: absolute;
        bottom: -29px;
        left: 0;
        width: 300px;
        height: 29px;
        background-image: url(../img/shape-yellow.png);
        background-repeat: no-repeat;
    }
}

.about__name {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 10px;
}

.about__info {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 13px;
    
    span {
        display: block;
    }
}

.about__img {
    border: 2px solid #a3b9d2;
}

//----------------DESKTOP---------------

@media @desktop {
    .about__wrap {
        width: 960px;
    }
    
    .about__subtitle {
        font-size: 28px;
    }
    
    .about__text {
        font-size: 20px;
        line-height: 24px;
    }
    
    .about__slogan {
        font-size: 32px;
        line-height: 36px;
        width: 960px;
        padding-left: 90px;
        padding-right: 90px;
        box-sizing: border-box;
        
        &::after {
            background-image: url(../img/shape-yellow-large.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 915px;
            height: 29px;
        }
    }
    
    .about__house {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    
    .about__house-wrap {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }
}
