.arrival {
    background-color: #e7e3e3;
}

.arrival__wrap {
    width: 320px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.arrival__h2 {
    font-size: 23px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}

.arrival__subtitle {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.arrival__img {
    display: block;
    margin: 0 auto;
    padding: 0;
}

//----------------DESKTOP---------------

@media @desktop {
    .arrival__wrap {
        width: 960px;
        display: flex;
        padding-top: 60px;
        position: relative;
    }
    
    .arrival__h2 {
        font-size: 36px;
        text-align: left;
        margin-bottom: 45px;
    }
    
    .arrival__subtitle {
        font-size: 24px;
        text-align: left;
    }
    
    .arrival__text {
        font-size: 18px;
        margin-bottom: 25px;
        
        &:last-of-type {
            padding-right: 100px;
        }
    }
    
    .arrival__block {
        padding-bottom: 50px;
        max-width: 640px;
    }
    
    .arrival__img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 350px;
        height: auto;
    }
}