.benefits {
    background-image: url(../img/screen-2-mobile.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-bottom: 80px;
    
    &--pad {
        padding-bottom: 0;
    }
}

.benefits__title {
    font-size: 36px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 40px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.benefits__items {
    list-style-type: none;
    padding: 10px;
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.benefits__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.benefits__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 255px;
    border-radius: 50%;
    border: 5px solid #c2ccdb;
}

.benefits__img {
    border-radius: 50%;
    border: 3px solid #8599b7;
}

.benefits__h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 26px;
    max-width: 300px;
}

.benefits__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 15px;
    max-width: 300px;
    
    span {
        display: block;
        font-size: 14px;
        line-height: 16px;
        margin-top: 5px;
    }
}

.benefits__block:nth-child(4) .benefits__text {
    padding-left: 18px;
    padding-right: 18px;
}

.benefits__block:nth-child(5) .benefits__text {
    padding-left: 60px;
    padding-right: 60px;
}

.benefits__subtitle {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

//----------------DESKTOP---------------

@media @desktop {
    .benefits {
        background-image: url(../img/screen-forest.jpg);
        background-size: cover;
    }
    
    .benefits__items {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        width: 960px;
    }
    
    .benefits__block {
        width: 33%;
        justify-content: flex-start;
    }
    
    .benefits__btn {
        margin-left: auto;
        margin-right: auto;
    }
    
    .benefits__title {
        max-width: 960px;
        font-size: 40px;
    }
    
    .benefits__subtitle {
        font-size: 28px;
        max-width: 960px;
        margin-bottom: 25px;
    }
    
    .benefits__text {
        padding-right: 0;
        padding-left: 0;
    }
    
    .benefits__block:nth-child(4) .benefits__text,
    .benefits__block:nth-child(5) .benefits__text {
        padding-right: 0;
        padding-left: 0;
    }
}