.footer-main {
    width: 320px;
    margin: 0 auto;
}

.footer-main .menu__toggle {
    display: none;
}

.footer-main .user-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-main__link {
    width: 300px;
}

.footer-main .user-block__phone {
    display: block;
}