.header-main {
    
}

.header-main__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    margin: 0 auto;
    border-bottom: 11px solid @green;
}