.help {
    background-image: url(../img/grass.png);
    background-position: bottom;
    background-repeat: repeat-x;
    padding-bottom: 125px;
}

.help__wrap {
    width: 300px;
    background-color: @green;
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 10px;
}

.help__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 20px;
    
    &--economy {
        font-size: 25px;
        line-height: 52px;
        margin-top: 5px;
        margin-bottom: 0;
    }
}

.help__text {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    
    span {
        display: block;
        font-size: 36px;
        line-height: 36px;
        color: @bg-yellow;
    }
    
    &--economy {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.help__form {
    margin: 0 auto;
    
    input {
        border: none;
        border-radius: 50px;
        width: 100%;
        font-family: "Roboto", "Arial", sans-serif;
        font-size: 20px;
        line-height: 36px;
        font-weight: 300;
        color: #243146;
        margin-bottom: 6px;
        padding: 10px 25px;
        box-sizing: border-box;
    }
    
    input::placeholder {
        opacity: 1;
    }
}

.help__btn {
    cursor: pointer;
    border: none;
    outline: none;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    border-radius: 50px;
    width: 100%;
    padding: 21px 10px;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: @bg-yellow;
    background-image: linear-gradient(to bottom, #dcd335, #f5ec4e);
    box-shadow: 0px 3px 7px 0px rgba(23, 45, 69, 0.3);
    
    &:hover {
        opacity: 0.8;
    }
}

.help__policy {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 10px auto;
    
    &:hover,
    &:active,
    &:visited {
        text-decoration: underline;
    }
}

//----------------DESKTOP---------------

@media @desktop {
    .help {
        padding-bottom: 120px;
    }
    
    .help--single {
        
        .help__wrap {
            width: 840px;
        }

        .help__form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            position: relative;

            input {
                width: 32%;
            }

            &:before {
                content: "";
                position: absolute;
                bottom: -180px;
                left: -550px;
                width: 399px;
                height: 415px;
                background-image: url(../img/single-tree.png);
                background-repeat: no-repeat;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: -180px;
                right: -450px;
                width: 346px;
                height: 447px;
                background-image: url(../img/two-trees.png);
                background-repeat: no-repeat;
            }
        }

        .help__btn {
            width: 45%;
            margin: 0 auto;
        }
        
        .help__text {
            margin-bottom: 35px;
        }
        
        .help__policy {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    
    .help__wrap--timer {
        width: 355px;
        margin: 0 60px;
    }
}
