.help {
    background-image: url(../img/grass.png);
    background-position: bottom;
    background-repeat: repeat-x;
    padding-bottom: 125px;
}

.help__wrap {
    width: 300px;
    background-color: @green;
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 10px;
}

.help__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 20px;
    
    &--economy {
        font-size: 25px;
        line-height: 52px;
        margin-top: 5px;
        margin-bottom: 0;
    }
}

.help__text {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    
    span {
        display: block;
        font-size: 36px;
        line-height: 36px;
        color: @bg-yellow;
    }
    
    &--economy {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.help__form {
    margin: 0 auto;
    
    input {
        border: none;
        border-radius: 50px;
        width: 100%;
        font-family: "Roboto", "Arial", sans-serif;
        font-size: 20px;
        line-height: 36px;
        font-weight: 300;
        color: #243146;
        margin-bottom: 6px;
        padding: 10px 25px;
        box-sizing: border-box;
    }
    
    input::placeholder {
        opacity: 1;
    }
}

.help__btn {
    cursor: pointer;
    border: none;
    outline: none;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    border-radius: 50px;
    width: 100%;
    padding: 21px 10px;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: @bg-yellow;
    background-image: linear-gradient(to bottom, #dcd335, #f5ec4e);
}

.help__policy {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 10px auto;
}

//----------------DESKTOP---------------

@media @desktop {
    .help__wrap {
        width: 840px;
    }
    
    .help__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        
        input {
            width: 32%;
        }
    }
    
    .help__btn {
        width: 50%;
    }
}
