.indication {
    background-image: url(../img/grass.png);
    background-position: bottom;
    background-repeat: repeat-x;
    padding-bottom: 120px;
    padding-top: 30px;
}

.indication__bg {
    width: 300px;
    background-color: @red;
    padding: 10px;
    padding-bottom: 5px;
    position: relative;
    
    &::after {
        content: "";
        position: absolute;
        bottom: -18px;
        left: 0;
        width: 320px;
        height: 18px;
        background-image: url(../img/shape-red.png);
        background-repeat: no-repeat;
    }
    
    &--orange {
        background-color: #dfad33;
    }
    
    &--orange::after {
        background-image: url(../img/shape-orange.png);
    }
}

.title-h3 ~ .indication__bg--orange {
    color: #243146;
    margin-bottom: 15px;
}

.indication__wrap {
    width: 320px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    
    &--bg {
        background-color: #f4f4f6;
    }
}

.indication__list {
    list-style-type: none;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 7px;
    margin: 0;
}

.indication__item {
    font-size: 18px;
    line-height: 26px;
    padding-left: 40px;
    margin-bottom: 17px;
    position: relative;
}

.indication__item--pro {
    line-height: 24px;
    margin-bottom: 14px;
    
    &:last-child {
        margin-bottom: 5px;
    }
}

.indication__item--con::before,
.indication__item--pro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/smile-red.png);
    background-repeat: no-repeat;
    width: 33px;
    height: 33px;
}

.indication__item--pro::before {
    background-image: url(../img/smile.png);
}

.indication__img {
    margin: 0 auto;
    width: 300px;
    height: auto;
}

.indication__comment {
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-bottom: 23px;
}

.indication__btn {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 28px;
    text-transform: none;
    box-sizing: border-box;
    height: 100px;
    margin: 0 auto;
}

//----------------DESKTOP---------------

@media @desktop {
    
    .indication__bg {
        width: 575px;
        border-radius: 10px 10px 0 0;
        
        &::after {
            width: 575px;
            height: 18px;
            background-image: url(../img/shape-red-large.png);
            background-size: cover;
        }
        
        &--orange::after {
            background-image: url(../img/shape-orange-large.png);
        }
    }
    
    .indication__external {
        background-image: url(../img/shape-screen-2.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        width: 100%;
    }
    
    .indication__wrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 960px;
        padding-right: 50px;
        background-color: transparent;
    }
    
    .indication__back {
        background-image: linear-gradient(to top, #fff, #f4f4f6);
    }
    
    .indication__list {
        width: 440px;
    }
    
    .indication__img {
        margin: 0;
    }
}
