.map {
    background-image: url(../img/map.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 30px;
    
    iframe {
        width: 100%;
        height: 150px;
    }
}

.map__welcome {
    width: 320px;
    margin: 0 auto;
    z-index: 15;
}

.map__title {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    background-color: @red;
    border-radius: 5px 5px 0 0;
    color: #fff;
}

.map__text {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 2px #eee;
    background-color: #fff;
    
    span {
        display: block;
        margin: 5px 0;
    }
}

//----------------DESKTOP---------------

@media @desktop {
    .map__wrap {
        position: absolute;
        width: 960px;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .map {
        background-image: url(../img/map.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 380px;
        position: relative;
        
        iframe {
            width: 100%;
            height: 380px;
        }
    }
    
    .map__welcome {
        margin-left: 0;
    }
    
    .map__title {
        font-size: 28px;
        border-radius: 10px 10px 0 0;
        line-height: 40px;
    }
    
    .map__text {
        text-align: left;
        font-size: 20px;
        line-height: 24px;
        padding: 20px;
        padding-right: 50px;
        padding-top: 10px;
        border-radius: 0 0 10px 10px;
    }
}