.modal {
    display: none;
    position: fixed;
    top: 50%;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    z-index: 150;
    left: 50%;
    transform: translate(-50%,-50%);
}

.modal-overlay {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.modal-overlay-show {
    display: block;
}

.certificate {
    display: none;
    position: absolute;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    z-index: 150;
    left: 50%;
    transform: translate(-50%,0);
}

.modal__header {
    display: flex;
    padding: 10px;
}

.modal__close {
    margin-left: auto;
    font-size: 0;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    background-image: url(../img/icon-cross.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.modal__title {
    margin: 0;
    color: #172d45;
    font-size: 20px;
    font-weight: 500;
}

.modal--tour,
.modal--video {
    display: none;
    width: 320px;
    
    iframe {
        margin-top: 10px;
        width: 300px;
        height: 160px;
    }
}

.modal--consult,
.modal--book,
.modal--price,
.modal--price2,
.modal--room1,
.modal--room2,
.modal--book2,
.modal--book3,
.modal--phone {
    width: 280px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.modal__text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-weight: 500;
}

.modal__show {
    display: block;
}

//----------------DESKTOP---------------

@media @desktop {
    .modal,
    .certificate {
        width: 600px;
    }
    
    .modal--tour,
    .modal--video {
        width: 660px;
    
        iframe {
            width: 640px;
            height: 360px;
        }
    }
    
    .modal--consult,
    .modal--book,
    .modal--price,
    .modal--price2,
    .modal--room1,
    .modal--room2,
    .modal--book2,
    .modal--book3,
    .modal--phone {
        width: 355px;
    }
}