.slider {
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.slider__btn {
    width: 40px;
    height: 40px;
    font-size: 0;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    
    &--active {
        background-color: @green;
    }
}

.slide {
    display: none;
}

.btn_1:checked ~ .reviews__wrap .slide1,
.btn_2:checked ~ .reviews__wrap .slide2,
.btn_3:checked ~ .reviews__wrap .slide3
{
  display: flex;
}

.btn_1:checked ~ .reviews__wrap label[for="btn-1"],
.btn_2:checked ~ .reviews__wrap label[for="btn-2"],
.btn_3:checked ~ .reviews__wrap label[for="btn-3"]
{
  background-color: @green;
}


//----------------DESKTOP---------------

@media @desktop {
    .slide {
        display: flex;
    }
    
    .slider {
        display: none;
    }
}