.specialists {
    padding-top: 27px;
}

.specialists__title {
    width: 320px;
    background-color: @green;
    padding: 15px 10px;
    position: relative;
    
    &::after {
        content: "";
        position: absolute;
        bottom: -29px;
        left: 0;
        width: 320px;
        height: 29px;
        background-image: url(../img/shape-green.png);
        background-repeat: no-repeat;
    }
}

.specialists__list {
    list-style-type: none;
    margin: 0 auto;
    margin-top: 60px;
    padding: 0 10px;
    width: 320px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.specialists__person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.specialists__name {
    background-color: @green;
    color: #fff;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 18px;
    margin-top: 0;
    width: 267px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.specialists__photo {
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #d1daf6;
}

//----------------DESKTOP---------------

@media @desktop {
    .specialists__title {
        width: 735px;
        border-radius: 10px 10px 0 0;
        
        &::after {
            width: 735px;
            height: 29px;
            background-image: url(../../img/shape-green-large.png);
            background-size: cover;
        }
    }
    
    .specialists__list {
        width: 900px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}