.user-block {
    
    .user-block__phone {
        display: none;
        text-decoration: none;
        color: #172d45;
    }
}

.user-block__text {
    text-align: center;
    margin-top: 0;
}

.user-block__context {
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    
    &:hover {
        opacity: 0.6;
    }
}

//----------------DESKTOP---------------

@media @desktop {
    .user-block {
        width: 960px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        min-height: 75px;
        
        .user-block__phone {
            display: block;
            font-size: 26px;
            line-height: 36px;
            font-weight: 700;
            width: 33%;
            text-align: center;
            padding-top: 20px;
            
            &:hover {
                background-color: #ebedfa;
            }
        }
    }
    
    .user-block__context {
        margin-right: 17px;
    }
}
