.video {
    background-image: url(../../img/screen-3-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.video__block {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 75px;
    
    picture img {
        margin-top: 20px;
    }
}