.video {
    background-image: url(../../img/screen-3-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.video__block {
    margin: 0 auto;
    padding-top: 30px;
    width: 320px;
    box-sizing: border-box;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    picture img {
        margin-top: 20px;
    }
}
